body {
    font-family: Arial, sans-serif;
}

.logo {
    height: 25px;
}

.b_logo {
    height: 35px;
}

.nav-link {
    color: black;
}

.bg_dark {
    background-color: black;
}

.orange_ {
    background-color: #cd3d0f;
}

.sec_1 {
    background-image: url("./img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
}

.thumb_nail {
    border: 3px solid #0d6efd;
    border-radius: 10%;
    width: 300px;
}

.thumb_nail2 {
    border: none;
    border-radius: 10%;
    width: 300px;
}