body {
    font-family: Arial, sans-serif;
}

.logo {
    height: 25px;
}

.b_logo {
    height: 35px;
}

.nav-link {
    color: black;
}

.bg_dark {
    background-color: black;
}

.orange_ {
    background-color: #cd3d0f;
}

.sec_1 {
    background-image: url("./img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    height: 675px;
}