body {
    font-family: Arial, sans-serif;
}

.logo {
    height: 25px;
}

.b_logo {
    height: 35px;
}

.b_logo2 {
    height: 300px;
}

.nav-link {
    color: black;
}

.bg_dark {
    background-color: black;
}

.orange_ {
    background-color: #cd3d0f;
}

.sec_1 {
    background-image: url("./img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 675px;
}

.sec_2 {
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

.thumb_nail {
    border: 3px solid #0d6efd;
    border-radius: 10%;
    width: 300px;
}

.thumb_nail2 {
    border: none;
    border-radius: 10%;
    width: 300px;
}

.thumb_nail3 {
    border: none;
    padding: 0;
    margin: 1rem;
    border-radius: 10%;
    width: 200px;
}

.thumb_nail4 {
    border: none;
    padding: 0;
    margin: 1rem;
    width: 200px;
}

.grey {
    color: grey;
}

.w_50 {
    height: 600px;
}

.w_10 {
    height: 150px;
}

.card {
    border: none;
}

.card-img-top {
    width: 400px;
}

.card-body {
    padding: 1rem 4rem;
}